.ImportMusicDialog{
	-fx-background-color: #ffffff;
}

.label.content {
	-fx-font-family: verdana;
    -fx-font-size: 14px;
}

.button-bar, .container {
    -fx-background-color: #f2f2f2;
}

.button-bar, .container:hover {
    -fx-background-color: #dadada;
}

.button {
	-fx-alignment: center-left;
}