.vbox {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: rgb(52, 109, 207);
    -fx-font-size: 14px;
    -fx-font-family: verdana;
}

.progress-indicator {
    -fx-progress-color: rgb(52, 109, 207);
}