.list-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
}

.textColumn, .numberColumn {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 10 0 10;
}

.list-cell:even:filled {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

.list-cell:odd:filled {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:filled:hover {
    -fx-background-color: #dadada;
    -fx-text-fill: black;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: rgb(52, 109, 207);
    -fx-text-fill: white;
}

.list-cell:filled:focused:selected {
    -fx-background-color: rgb(52, 109, 207);
    -fx-text-fill: white;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background-color: rgb(47, 98, 187);
    -fx-text-fill: white;
}

.list-view:row-selection .list-cell:filled:focused:hover {
    -fx-background-color: rgb(47, 98, 187);
    -fx-text-fill: white;
}

.list-cell .text {
    -fx-font-family: verdana;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.list-view *.scroll-bar:horizontal *.increment-button,
.list-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view *.scroll-bar:horizontal *.increment-arrow, 
.list-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.list-view *.scroll-bar:vertical *.increment-button,
.list-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view *.scroll-bar:vertical *.increment-arrow, 
.list-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}