.mainWindow {
    -fx-background-color: #ffffff;
}

.label {
    -fx-font-family: verdana;
    -fx-font-size: 18px;
}

.bottomBarLabel {
    -fx-font-family: verdana;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #ffffff;
}

.sideBarItem:hover, .sideBarItemSelected:hover {
    -fx-background-color: #dadada;
}

.sideBarItemSelected > .label {
    -fx-text-fill: rgb(52, 109, 207);
}

.sideBarItemSelected > .iconContainer > .icon {
    -fx-fill: rgb(52, 109, 207);
}

.sideBar {
    -fx-background-color: #f2f2f2;
}

.bottomBar {
    -fx-background-color: rgb(52, 109, 207);
}

.bottomBarItem:hover {
    -fx-background-color: rgb(47, 98, 187);
}

.separator .line {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #c2c2c2;
}