.table-view {
    -fx-background-color: transparent;
}

.label {
    -fx-font-family: verdana;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.table-view .column-header {
    -fx-background-color: white;
}